$blue: #0070d2;
$purple: #6610f2;
$pink: #e83e8c;
$red: #d50b22;
$yellow: #ffee00;
$green: #008827;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;

$layout-large: 85px;
$layout-normal: 20px;
$layout-small: 10px;